name: renovate-config-validator

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    paths:
      - "renovate.json"
  pull_request:
    paths:
      - "renovate.json"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.1.1
