name: "Yamllint GitHub Actions"
on: # yamllint disable-line rule:truthy
  - pull_request
  - workflow_dispatch
jobs:
  yamllint:
    name: "Yamllint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
      - name: "Yamllint"
        uses: karancode/yamllint-github-action@v3.0.0
        with:
          yamllint_config_filepath: .yamllint.yaml
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
